h1 {
  color: #a20c0f;
  text-align: center;
}

h2 {
  color: #00f;
  font-style: italic;
  text-align: center;
}

p {
  text-align: justify;
  font-family: sans-serif;
  font-style: oblique;
}

ul {
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  
}
